# Android / Gradle
*.iml
.gradle/
build/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks

# macOS
.DS_Store

# Python / Jupyter
__pycache__/
.ipynb_checkpoints/
